

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#ratings {
  margin-top: 10rem;
}

body {
  color: var(--primary-color);
  width: 100%;
  height: 100vh;
}

/* shared styles */
:root {
  --primary-width: calc(100% - 400px);
  --primary-height: 42.38rem;
  --primary-margin: 0 auto;
  --primary-color: #ffffff;
  --secondary-color: #00ff88;
  --bg-color: #412567;
  --secondary-bg-color: #230e3d;
  --another-bg-color: #1a0b2e;
  --primary-font-size: 1rem;
}

.rating-card {
  color: var(--secondary-color);
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.63rem;
}

.about-section,
.featured-section,
.meet-section {
   max-width: 100%;
  max-height: var(--primary-height);
  background-color: var(--another-bg-color);
  background-size: cover;
  border: 2px solid saddlebrown;
}

.about-container,
.featured-container,
.meet-container, .banner-container
 {
  width: var(--primary-width);
  margin: var(--primary-margin);
  height: var(--primary-height);
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  margin-bottom: 7.5rem;
  border: 2px solid saddlebrown;

}

.section-title h2 {
  font-size: 3.75rem;
  font-weight: 800;
  margin-top: 2.5rem;
  
  line-height: 4.56rem;
  text-align: center;
}

.section-description {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.8;
  text-align: center;
  line-height: 1.19rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  width: 100%;
  /* border: 2px solid red; */
  /* margin-left: 5rem; */
}

.primary-button {
  background-image: linear-gradient(47.64deg, #f7e93f, #fb09b4, #9100f8);
  padding: 0.78rem 1.25rem;
  border-radius: 0.375rem;
  font-size: var(--primary-font-size);
  font-weight: 600;
  color: var(--primary-color);
  border: none;
  cursor: pointer;
  border-radius: 10000px;
}

.secondary-button {
  border: 1px solid var(--secondary-color);
  padding: 0.78rem 1.25rem;
  border-radius: 0.375rem;
  font-size: var(--primary-font-size);
  font-weight: 600;
  color: var(--secondary-color);
  background-color: transparent;
  cursor: pointer;
  border-radius: 10000px;
}
/* main styles */
/* header section */
header {
  background-color: var(--another-bg-color);
  width: 100%;
  border-bottom: 1px solid rgb(75, 42, 122);
}
.header-container {
  display: flex;
  justify-content: space-between;
  width: var(--primary-width);
  margin: var(--primary-margin);
  align-items: center;
  text-align: center;
  /* border: 2px solid red; */
  height: 5.75rem;
}
/* important */
.logo {
  max-width: 13.69rem;
  height: 2rem;
  line-height: 1rem;
  font-weight: 900;
  font-size: 2rem;
}

.gradient {
  background: linear-gradient(#f7e93f, #fb09b4, #9100f8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* end */
nav .display {
  display: flex;
  gap: 2.5rem;
}

nav ul li a {
  color: var(--primary-color);
}

.menu-icon {
  display: none;
  cursor: pointer;
}
/* header section end */
/* banner section */

.banner-section {
  background-image: url("../assets/hero-bg.png");
  width: 100%;
  height: 47.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid rgb(75, 42, 122);
}

.banner-container {
  width: 34.38rem;
  height: 34.81rem;
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
  margin: var(--primary-margin);
  align-items: center;
  justify-content: flex-start;
  margin-top: 6.31rem;
}

.banner-section .banner-container .first-img img{
  width: 24rem;
  height: 24rem;
  position: relative;

  /* border: 3px solid red; */
}

.second-img {
  position: absolute;
  width: 13rem;
  height: 13rem;
  margin-top: 7rem;
  margin-left: 5rem;
  /* border: 3px solid red; */
}

/* why choose section */
.why-choose-section {
  background: var(--secondary-bg-color);
  max-width: 100%;
  height: 80.63rem;
  border: 1px solid rgb(75, 42, 122);
  /* border: 4px solid red; */
}

.why-choose-container {
  background: var(--secondary-bg-color);
  max-width: var(--primary-width);
  height: 80%;
  margin: var(--primary-margin);
  margin: 7.5rem 12.5rem;
  /* border: 2px solid red; */
}
.card-container {
  /* border: 2px solid red; */
  gap: 1.25rem;
}

.card-container .card {
  border-radius: 2.5rem;
  padding: 2.5rem;
  background: #351165;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 2.5rem;
  /* border: 2px solid red; */

}
.card-container .card .card-title {
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 1rem;

}
.card-container .card .card-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  opacity: 0.6;
  font-weight: 400;
  color: var(--primary-color);
  max-width: 85%;
}

@media screen and (max-width: 576px) {
  
  nav,
  #header-btn {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  :root {
    --primary-width: 95%;
  }
}