* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
    line-height: 1.6;
    color: #333;
    background-color: #fff;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
/* base style ends here*/

:root {
  --primary-width: calc(100% - 400px);
  --primary-margin: 0 auto;
  --primary-color: #ffffff;
  --secondary-color: #00ff88;
  --bg-color: #412567;
  --secondary-bg-color: #230e3d;
  --another-bg-color: #1a0b2e;
  --primary-font-size: 1rem;
}

.primary-button {
  background-image: linear-gradient(47.64deg, #f7e93f, #fb09b4, #9100f8);
  padding: 0.78rem 1.25rem;
  border-radius: 0.375rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);
  border: none;
  cursor: pointer;
  border-radius: 10000px;
  transition: background 0.3s, color 0.3s;
}
.primary-button:hover {
    background: #000;
}

.secondary-button {
  border: 1px solid var(--secondary-color);
  padding: 0.78rem 1.25rem;
  border-radius: 0.375rem;
  font-size: var(--primary-font-size);
  font-weight: 600;
  color: var(--secondary-color);
  background-color: transparent;
  cursor: pointer;
  border-radius: 10000px;
  transition: background 0.3s, color 0.3s;
}
.secondary-button:hover {
    background: var(--secondary-color);
    color: white;
}

/* shared styles end here */

header {
    background-color: #1a0b2e;
    color: white;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px #140822;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burger {
  display: hidden;
}
.logo {
  line-height: 1.5rem;
  font-weight: 900;
  font-size: 2rem;
  color: white;
}
.gradient {
  background: linear-gradient(#f7e93f, #fb09b4, #9100f8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}
.nav-links a:hover {
    color: rgb(22, 203, 185);
}
/* header ends here */

.hero {
    /* padding: 200px 0 100px; */
    width: 100%;
    background-image: url(../assets/hero-bg.png);
    position: relative;
    overflow: hidden;
     background-size: cover;
     background-repeat: no-repeat;
     border: 1px solid rgb(75, 42, 122);
}
.hero-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 9.5rem 0;
    /* border: 2px solid red; */
}
.hero-image{
    position: relative;
    /* border: 2px solid red; */
}
.mic {
    position: absolute;
    top: 240px;
    left: 56rem;
    /* border: 2px solid red; */
}
.badge {
    position: absolute;
    top: 150px;
    left: 63rem;
}
.section-title {
  font-size: 3.75rem;
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: -2px;
  margin-top: 2.5rem;
  color: white;
  line-height: 4.56rem;
  text-align: center;
}
.section-description {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.8;
  text-align: center;
  line-height: 1.19rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  color: white;
  /* border: 2px solid red; */
}
/* hero ends here */

.section{
    padding: 80px 0;
    background: var(--another-bg-color);
}
#about {
    background: var(--another-bg-color);
}
/* about section end here */

.stats {
    background-color: var(--another-bg-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
    padding: 50px 200px;
    /* border: 2px solid red; */
}

.stat-card{
    background-color: var(--bg-color);
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}
.stat-number {
  color: var(--secondary-color);
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.63rem;
}
.stat-label{
    font-size: 1rem;
    color: white;
    opacity: 0.7;
}
/* stats end here */

.features {
    background-color: var(--bg-color);
}
.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    padding-top: 2.5rem;
    /* border: 2px solid red; */
}
#row {
  grid-row: 1 / 3;
}
.feature-card{
    background-color: var(--secondary-bg-color);
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.features-grid .col{
  grid-column: 2 / span 3;
}
#call {
  grid-column:  span 2 / 3;
}
#cols{
  grid-column: 3 / span 3;
}
.features-grid .feature-card .card-title,
.host-title {
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: white;
}
.features-grid .feature-card .card-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  opacity: 0.6;
  font-weight: 400;
  color: var(--primary-color);
  max-width: 85%;
  color: #fff;
}
/* featured ends here */

#episodes .container .features-grid .feature-card .episode-title {
  color: white;
  padding: 1.5rem 1.5rem 0 1.5rem;
}
.container .features-grid .feature-card .just {
  text-align: left;
  opacity: 0.6;
  font-size: 16px;
  color: white;
  padding: 1.5rem;
  margin-bottom: 40px;
}
#episodes .container .features-grid .feature-card .i-frame {
  width: 100%;
  border-radius: 10px;
  height: 13rem;
}
#episodes .container .features-grid .feature-card {
  padding: 0px;
  border-radius: 10px;
  background-color: var(--secondary-bg-color);
}
/* episode end here */
.host-container {
  background-color: var(--secondary-bg-color);
  border-radius: 40px;
  display: flex;
  padding: 40px;
  gap: 24px;
}
#host .container .links{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  padding: 1.5px;
}
/* host end here */

footer{
  background: url(../assets/footer-bg.png);
    overflow: hidden;
     background-size: cover;
     background-repeat: no-repeat;
  /* border: 2px solid red; */
}
footer .footer-container {
  margin: 120px auto;
  padding-top: 50px;
  /* border: 2px solid red; */
}
footer .footer-container .footer-content {
  /* border: 2px solid red; */
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 50%;
}
footer .footer-container .footer-content .ft-links {
    text-align: center;
}
footer .footer-container .footer-content .ft-links a {
  text-decoration: none;
  margin-left: 20px;
}

@media (max-width: 576px) {
  .header-container{
    gap: 20xp;
  }
  .burger{
    display: block;
  }
  .nav-links, .nav-btn {
    visibility: hidden;
  }
  .section-title {
    font-size: 2.2rem;
  }
  .section-description{
    font-size: 1.1rem;
  }
  .hero-buttons{
    flex-direction: column;
    align-items: center;
  }
  .btn {
    width: 100%;
    max-width: 300px;
    text-align: center;
  }
  .host-container{
    flex-direction: column;
  }
  .features-grid {
    grid-template-columns: 1fr;
    width: 100%;
    gap: 24px;
    /* border: 2px solid red; */
}
.features-grid .col{
  grid-column: 1 / 1;
}
#call, #cols{
  grid-column: 1 / 1;
}
#row {
  grid-row: 1 / 1;
}
.mic {
  left: 230px;
}
.badge {
  left: 350px;
}
}