*{
    box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
:root{
    --primary-width: 100rem;
    --primary-color: #ffffff;
    --secondary-color: #2563eb;
    --accent-color: #f97316;
}

.primery-button {
    background-image: linear-gradient(47.64deg, #F7E93F, #FB09B4, #9100F8);
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 10000px;
}


/* main styles */
header {
    background-color: #412567;
    width: var(--primary-width);
    height: 92px;
   border-bottom: 1px solid rgba(65, 37, 103, 1);
   margin: 0 auto;
   text-align: center;
}

.logo {
    width: 219px;
    height: 32px;
    font-weight: 900;
    font-size: 2rem;
}

.gradient {
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}